@using NetAnalyzer.Domain.Dataset;

@model DatasetStatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>DatasetID</th>
            <th>Name</th>
            <th>State</th>
            <th>Members [#]</th>
            <th>Relations [Ø]</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statistics ?? new List<DatasetInfoStatistic>())
        {
            <tr>
                <td>@Html.DisplayFor(m => item.DatasetId)</td>
                <td>@Html.DisplayFor(m => item.DatasetName)</td>
                <td>@Html.DisplayFor(m => item.State)</td>
                <td>@Html.DisplayFor(m => item.Members)</td>
                <td>@Html.DisplayFor(m => item.AverageRelation)</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", "Dataset", null, new { @class = "btn btn-primary"})
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    

}